<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamVideo_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StreamVideo_Client.Properties.Settings>
            <setting name="LastIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LastPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
        </StreamVideo_Client.Properties.Settings>
    </userSettings>
</configuration>